.button {

    background-color: rgba(103, 153, 185, 0.279);
    border-radius: 10px;
    border: 0px  ;
    width: 200px;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 2px;
    font-family: sans-serif;
    font-size: 18px;  
  }
  
  button:hover {
    background-color: #3385ff;
  }